.header {
  height: 13vh;
  background: #2a2d47;
  color: #fff;
  padding: 0 3vw;
  box-shadow: 0px 1px 10px 1px rgb(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header form input {
  border: 1px solid #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background: #2a2d47;
  color: #fff;
}

#button {
  cursor: pointer;
  padding: 13px;
}